.container {
  font-family: Zen Kaku Gothic New;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fv {
  position: relative;
}

.fv-message {
  position: absolute;
  top: 65%;
  left: 25%;
}

section#fv {
  margin-top: -10%;
}

.bg-w {
  background-color: #fff;
  border-radius: 80px;
}

.bg-r {
  background-color: #FEEFF2;
}

.bg-b {
  background-color: #EEF7FE;
}

.ttl-bg {
  background-color: #F6FDFB;
}

.bg-y {
  background-color: #FEFCEE;
}

.accent-y {
  background-color: #FFE974;
  color: #1D527E;
  width: 780px;
  margin: 0 auto;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 32px;
}

.center {
  text-align: center;
  margin-bottom: 45px;
}

p {
  margin: 0;
}

.mg-y-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-instead {
  margin: 0 auto;
  width: max-content;
  .bg-w {
    width: 100%;
    padding-top: 85px;
    padding-bottom: 95px;
    .inner {
      width: fit-content;
      margin: 0 auto;
      text-align: center;
      ul {
        padding-left: 0;
        margin-top: 50px;
        li {
          text-align: initial;
          display: flex;
          align-items: center;
          p {
            padding-left: 1rem;
          }
          img {
            padding-left: 20px;
          }
        }
      }
    }
  }
}


.hidden {
  display: none;
}

.ttl-block {
  display: block;
  margin: 0 auto;
}

.img-block {
  display: block;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

#about {
  padding-bottom: 128px;
}

#detail {
  padding-top: 108px;
  padding-bottom: 80px;
}

.loadmap {
  font-size: 18px;
  max-width: 1200px;
  width: 82%;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-between;
  max-height: max-content;
  h4 {
    max-width: 740px;
    font-size: 24px;
    line-height: 63px;
    padding-left: 15%;
  }
  img {
    height: fit-content;
  }
}

.load__001 {
  margin-top: 45px;
}

.voice-bg {
  &-r {
    font-size: 16px;
    background-color: #FEEFF2;
    p {
      width: fit-content;
      max-width: 260px;
      margin: 0 auto;
      text-align: center;
    }
  }
  &-y {
    background-color: #FEFCEE;
    font-size: 16px;
    p {
      width: fit-content;
      max-width: 260px;
      margin: 0 auto;
    }
  }
  &-b {
    background-color: #EEF7FE;
    font-size: 16px;
    p {
      width: fit-content;
      max-width: 260px;
      margin: 0 auto;
    }
  }
}

.wants {
  background-color: #FEEFF2;
  max-width: 900px;
  padding-top: 145px;
  padding-bottom: 135px;
  border-radius: 80px;
  ul {
    display: block;
    margin: 0 auto;
    width: max-content;
  }
}

.quote {
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 75px;
  margin-bottom: 145px;
  border-radius: 80px;
  ul {
    display: block;
    margin: 0 auto 40px;
    width: fit-content;
    padding-left: 0;
    li {
      font-size: 24px;
    }
  }
  p {
    text-align: center;
    font-size: 18px;
  }
}

.hontou {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.desuga {
  background-color: #EEF7FE;
  max-height: 340px;
  padding-top: 60px;
  padding-bottom: 70px;
  p {
    text-align: center;
  }
}

#voice {
  background-color: #FAFAFA;
  padding-bottom: 90px;
  padding-top: 37px;
  .voice-flex {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    .voice-item {
      margin-top: 80px;
      width: 290px;
      border-radius: 40px;
      position: relative;
      padding-top: 60px;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 22.4px */
      height: 480px;
      img {
        position: absolute;
        top: -50px;
        right: 50%;
        left: 33%;
      }
      .name {
        margin-bottom: 35px;
        text-align: center;
      }
    }
    .voice-last {
      height: 572px;
    }
  }
}

#greet {
  color: #1D527E;
  background-color: #FEFCEE;
  padding-bottom: 70px;
  font-size: 18px;
  .greet-message {
    &__001 {
      max-width: 800px;
      margin: 0 auto;
    }
    &__002 {
      max-width: 800px;
      margin: 0 auto;
    }
    &__003 {
      max-width: 800px;
      margin: 0 auto;
    }
  }
}

#faq {
  color: #1D527E;
  background-color: #F5F5F5;
  padding-bottom: 60px;
  font-size: 18px;
  span.q {
    color: #FF3258;
  }
  span.a {
    color: #72B8DE;
  }
  .faq-message {
    ul {
      li {
        margin: 0 auto 20px;
        background-color: #fff;
        width: 65%;
        max-width: 965px;
        padding: 20px 40px;
      }
    }
  }
}

#reco {
  padding-bottom: 100px;
  .reco-item {
    width: fit-content;
    margin: 0 auto;
  }
}

#use {
  background-color: #EEF7FE;
  padding-bottom: 100px;
  .use-item {
    max-width: fit-content;
    margin: 0 auto;
    .line-btn {
      margin-top: 50px;
      justify-content: center;
      display: flex;
      background-color: #42B455;
      padding: 20px 40px;
      a {
        color: #fff;
        text-decoration: none;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 100%;
        margin: 0 auto;
      }
    }
  }
}

#caution {
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 18px;
  .caution-message {
    margin: 0 auto;
    width: max-content;
  }
}

.footer {
  background-color: #1D527E;
  color: #fff;
  padding-bottom: 32px;
  .container {
    .last-message {
      font-size: 18px;
      background-color: #EEF7FE;
      color: #1D527E;
      padding-top: 73px;
      padding-bottom: 73px;
      p {
        display: flex;
        justify-content: center;
      }
    }
    .footer-menu {
      padding-top: 42px;
      justify-content: space-between;
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      .list {
        list-style: none;
        display: flex;
        li {
          a {
            line-height: 70px;
            color: #fff;
            text-decoration: none;
            margin-right: 30px;
            font-size: 15px;
          }
        }
        li.line {
          background-color: #42B455;
          width: 190px;
          height: 40px;
          display: flex;
          border-radius: 4px;
          background: #06C755;
          cursor: pointer;
          a {
            display: block;
            height: 100%;
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            img {
              margin: 5px;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

.loadmap-nmv {
  position: relative;
}

.loadmap-nmv__1::before {
  position: absolute;
  text-align: center;
  top: -10%;
  left: 0px;
  line-height: 100%;
  font-family: "carattere";
  width: 5rem;
  height: 5rem;
  font-size: 90px;
  background-color: #F7D4DA;
  content: "1";
}

.loadmap-nmv__2::before {
  position: absolute;
  text-align: center;
  top: -10%;
  left: 0px;
  line-height: 100%;
  font-family: "carattere";
  width: 5rem;
  height: 5rem;
  font-size: 90px;
  background-color: #FFE974;
  content: "2";
}

.loadmap-nmv__3::before {
  position: absolute;
  text-align: center;
  top: -10%;
  left: 0px;
  line-height: 100%;
  font-family: "carattere";
  width: 5rem;
  height: 5rem;
  font-size: 90px;
  background-color: #72b8de;
  content: "3";
}

.sp-mainvisual {
  display: none;
}

.pc-none {
  display: none;
}

@media screen and (max-width: 900px) {
  section#fv {
    margin-top: 0;
  }
  .desuga-inner {
    width: 90%;
    margin: 0 auto;
    p {
      text-align: justify;
    }
  } 
  #support {
    .support-img {
      width: 90%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    p {
      width: 90%;
      margin: 0 auto;
      br {
        display: none;
      }
    }
  }
  #voice {
    .voice-img {
      width: 90%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    ul {
      padding: 0;
    }
  }
  .pc-mainvisual {
    display: none;
  }
  .sp-mainvisual {
    display: block;
  }
  .fv-message {
    position: inherit;
    text-align: center;
  }
  .pc-none {
    display: block;
  }  
  .sp-none {
    display: none;
  }
  #fv {
    background: #FDF6F7;
    padding-bottom: 25px;
  }
  #intro {
    margin-top: 80px;
  }
  .use-img {
    width: 90%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .reco-img {
    width: 90%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .greet-iimg {
    width: 90%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .faq-img {
    width: 90%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .reco-item {
    ul {
      padding: 0;
      width: 90%;
      margin: 0 auto;
    }
  }
  .faq-message {
    ul {
      padding: 0;
    }
  }
  .use-item {
    width: 90%;
    margin: 0 auto;
  }
  .last-message p{
    width: 88%;
    margin: 0 auto;
  }
  .greet-message {
    width: 90%;
    margin: 0 auto;
  }
  #caution {
    .caution-message {
      width: 100%;
      ul {
        padding: 0;
        width: 85%;
        margin: 0 auto;
      }
    }
  }
  .footer {
    .container {
      .footer-menu {
        display: block;
        .list {
          display: block;
          li {
            line-height: 40px;
            a {
              line-height: 100%;
              margin-right: 0;
            }
          }
          .pc-none {
            display: flex;
            justify-content: space-between;
            width: 49%;
            margin: 0 auto;
          }
          .line {
            margin: 50px auto 0;
          }
        }
      } 
    }
  }
  .support-block {
    flex-flow: wrap-reverse !important;
    img {
      width: 85% !important;
    }
    .support-block-text {
      width: 90% !important;
      margin: 0 auto 40px;
      p {
        text-align: justify;
      }
    }
  } 
  .quote {
    width: 97% !important;
    margin-bottom: 80px;
    padding-bottom: 35px;
    ul {
      li {
        font-size: 20px;
      }
    }
    p {
      font-size: 16px;
    }
  }
}